@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #1E90FF;
  --color-secondary: #4682B4;
  --color-accent: #00BFFF;
  --color-light: #00D6FA;
  --color-dark: #1288F8;
  --color-black: #2B2B2B;
  --color-white: #FFFFFF;
  --color-grey: #2A425B;
  --color-sub: #7CD0FF;

  --color-success: #00C9A7;
  --color-warning: #FFB86C;
  --color-error: #FF5555;
  --color-info: #8BE9FD;
}

@font-face {
  font-family: 'GCT';
  src: url('/fonts/GCT_Light.ttf') format('truetype');
  font-weight: normal, 300;
  font-style: normal;
}
@font-face {
  font-family: 'GCT';
  src: url('/fonts/GCT_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'GCT';
  src: url('/fonts/GCT_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}